body {
    margin: 1rem;
    font-family: 'Montserrat', sans-serif;
    background: #ddd;
}

.header,
.content {
    min-height: 100px;
    color: #303338;
    padding: 10px 0 0 10px;
    font-size: 16px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
}

.header h1 {
    font-weight: 700;
}

.video {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.video .title {
    font-weight: 500;

}

.visible {
    display: block;

}

.hidden {
    display: none;
}

.player-wrapper {
    position: relative;
    padding-top: 56.25%;
    /* 720 / 1280 = 0.5625 */
}

.react-player {
    position: absolute;
    top: 0;
    left: 0;
}

.slick-next:before,
.slick-prev:before {
    color: black;
}

.slick-slide:hover,
.slick-slide:focus,
.slick-current {
    cursor: pointer;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.15);
    background: #b7b7b7;
    border-radius: 4px;
}

.slick-slide:hover {
    background: #eaeaea;

}


.slick-slide {

    padding: 10px 20px;
}

.slick-list {
    margin: 0 2em;
}

.loading {
    border: 4px solid #f3f3f3;
    /* Light grey */
    border-top: 4px solid #303338;
    /* gray */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    margin: 0 auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}